body {
    font-family: 'MedievalSharp', cursive;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("logintheme.jpg");
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(76, 29, 149, 0.6), rgba(234, 179, 8, 0.3), rgba(0, 0, 0, 0.8));*/
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 600px;
    background: rgba(88, 28, 135, 0.2);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(168, 85, 247, 0.2);
    backdrop-filter: blur(8px);
}

h1, h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #a855f7, #eab308);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: rgba(88, 28, 135, 0.2);
    border: 1px solid rgba(168, 85, 247, 0.2);
    border-radius: 0.375rem;
    color: white;
    font-family: inherit;
}

input:focus {
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.2);
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #9333ea;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}

#submit-btn{
    width: 100%;
    padding: 0.75rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;   
}

button:hover {
    background-color: #7e22ce;
}

.error {
    color: #ef4444;
    margin-top: 0.5rem;
    text-align: center;
}

.mode-selection, .quiz-section {
    display: none;
}

.question {
    margin-bottom: 2rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.options label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.375rem;
    transition: color 0.3s;
}

.options label:hover {
    color: #eab308;
}

input[type="radio"] {
    width: auto;
    margin: 0;
    accent-color: #9333ea;
}
