<html lang="en">
 <head>
    {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Login Page
  </title>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
 </head>
 <body>
  <div class="hero">
   <img alt="A man playing a game on a PC with a dark, futuristic gaming setup and neon lights" height="1080" src="{% static 'images/logintheme.jpg' %}" width="1920"/>
   <div class="content">
    <h1>
     Welcome to customer journey mapping
    </h1>
    <p>
     Enter your username and password to enter the world of customer journey mapping
    </p>
    <div class="login-container">
     <h2>
      Login
     </h2>
     <form id="login-form">
      <input id="username" placeholder="Username" required="" type="text"/>
      <input id="password" placeholder="Password" required="" type="password"/>
      <button id="login-button" type="button">
       Login
      </button>
     </form>
    </div>
   </div>
  </div>
  <script>
   const loginButton = document.getElementById('login-button');
        const usernameInput = document.getElementById('username');
        const passwordInput = document.getElementById('password');

        loginButton.addEventListener('click', () => {
            const username = usernameInput.value.trim();
            const password = passwordInput.value.trim();

            if (!username || !password) {
                if (!username) usernameInput.classList.add('animated-input');
                if (!password) passwordInput.classList.add('animated-input');

                setTimeout(() => {
                    usernameInput.classList.remove('animated-input');
                    passwordInput.classList.remove('animated-input');
                }, 300);

                return;
            }

            alert(`Welcome, ${username}!`);
        });
  </script>
 </body>
</html>